{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block title %}Облік Відвідування{% endblock title %}

<!-- Logo -->
{% block logo %}
<div class="col-xs-8">
  <h1>Сервіс Обліку Студентів</h1>
</div>
{% endblock logo %}

<!-- Groups Selector -->
{% block groups_selector %}
<div class="col-xs-4" id="group-selector">
  <strong>Група:</strong>
    <select>
      <option value="">Усі Студенти</option>
      <option value="">МтМ - 21, Подоба Віталій (No 254)</option>
      <option value="">МтМ - 22, Корост Андрій (No 2123)</option>
      </select>
</div>
{% endblock groups_selector %}

      <!-- Start Main Page Content -->
      {% block content %}
      <div class="row" id="content-columns">
        <div class="col-xs-12" id="content-column">

          <p class="text-center"> <a href="">&larr;</a>
            <strong>Жовтень 2014</strong>
          <a href="">&rarr;</a></p>

        <!-- Start Students Listing -->
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>No</th>
              <th>Студент</th>
              {% for day in days %}
              <th>{{ day.week_day}} {{day.day}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for student in student_log %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td><a href="{% url "visit_student" 321 %}">{{student.last_name}} {{student.first_name}}</td>
              {% for day in days %}
              <td><input type="checkbox"></td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
      {% endblock content %}
      <!-- End Main Page Content -->

      <!-- Start Footer -->
      {% block footer %}
      <div class="row" id="visitlog-footer">
        <div class="col-xs-12">
          &copy; 2014 Сервіс Обліку Студентів
        </div>
      </div>
      <!-- End Footer -->
      {% endblock footer %}
